.container {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

.coub-image {
    width: 100%;
}

.image {
    background-image: url("https://svgshare.com/i/_gZ.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 65%;
}

.text {
    text-align: center;
    color: white;
    font-size: 18px;
}

form {
    width: 45%;
    max-width: none;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    form, .content {
        width: 100%;
    }

    .btn {
        flex-direction: column;
    }

    .image {
        height: 70vh;
    }
}

@media (max-width: 425px) {
    form {
        padding: 20px;
    }

    .image {
        padding: 10px;
    }
}