.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.content {
    width: 55%;
    min-height: 100vh;
    background-color: #f2796e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    background-image: url("https://svgshare.com/i/_gZ.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 70%;
}

form {
    width: 45%;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .content, form {
        width: 100%;
        min-height: auto;
    }

    .content {
        min-height: 60vh;
    }

    .image {
        height: 60vh;
    }

    form {
        padding: 30px 40px;
    }
}

@media (max-width: 425px) {
    form {
        padding: 20px;
    }

    .title {
        font-size: 22px;
    }
}